.streamers-container .streamers, .users-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: scroll;
}

.streamers-container .streamers .game .online, .users-container .online {
  background-color: rgba(144, 238, 144, 0.705);
}

.streamers-container .streamers .game .offline, .users-container .offline {
  background-color: rgba(216, 216, 216, 0.705);
}

* {
  margin: 0px;
  padding: 0px;
  scrollbar-width: thin;
  font-family: "Roboto", sans-serif;
}

html {
  height: 100%;
  overflow-x: hidden;
}

body {
  height: 99vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 5% 95%;
      grid-template-rows: 5% 95%;
  -ms-grid-columns: 20% 60% 20%;
      grid-template-columns: 20% 60% 20%;
      grid-template-areas: "streamers header users" "streamers videos users";
  grid-column-gap: 10px;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: header;
}

.header h2 {
  text-align: center;
}

.streamers-container {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: streamers;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.streamers-container .streamers {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
}

.streamers-container .streamers .game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.streamers-container .streamers .game * {
  font-size: 1.25rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.streamers-container .streamers .game > span {
  color: white;
  text-align: center;
  background-color: gray;
}

.streamers-container .streamers .game .streamer {
  padding-left: 5px;
}

.streamers-container .add-streamer-container {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.streamers-container .add-streamer-container * {
  font-size: 1.25rem;
}

.streamers-container .add-streamer-container input {
  margin-top: 3px;
  margin-bottom: 2px;
  width: 100%;
}

.streamers-container .add-streamer-container button {
  width: 100%;
}

.streamers-container .streamer-error {
  background-color: red;
  color: white;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.streamers-container .streamer-error * {
  font-size: 1.25rem;
}

.videos {
  overflow-y: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: videos;
  scrollbar-width: none;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.videos .video-card {
  width: 31%;
  height: 25%;
  margin-right: 15px;
  margin-bottom: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.videos .video-card img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
}

.videos .video-card .count {
  position: relative;
  background-color: rgba(0, 0, 0, 0.79);
  padding: 1px 2px 1px 2px;
  color: white;
  font-size: 1.25rem;
  left: 10%;
  top: -20%;
  z-index: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.videos .video-player {
  width: 100%;
}

.videos .download-video {
  margin: 20px auto 0px auto;
  font-size: 1.25rem;
  padding: 5px 20px 5px 20px;
}

.users-container {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: users;
  width: 100%;
}

.users-container h3 {
  text-align: center;
  background-color: lightgrey;
}

.users-container .admin-container {
  margin-bottom: 10px;
}

.users-container .user {
  margin: 1px 0px 2px 0px;
  font-size: 1.25rem;
  text-align: center;
}
/*# sourceMappingURL=index.css.map */