.video-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.player{
    max-width: 1280px;
    max-height: 720px;
}
.download{
    margin-top: 25px;
    font-size: 1.3rem;
    padding: 5px 10px 5px 10px;
    background-color: lightgray;
    color: black;
    border: 1px solid silver;
}