<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/index.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="header">
      <h2>streamer name</h2>
    </div>
    <div class="streamers-container">
      <div class="streamers">
        <div class="game">
          <span>game</span>
          <div class="streamer"><span>streamer</span></div>
          <div class="streamer"><span>streamer</span></div>
          <div class="streamer"><span>streamer</span></div>
          <div class="streamer"><span>streamer</span></div>
          <div class="streamer"><span>streamer</span></div>
        </div>
      </div>
      <div class="add-streamer-container">
        <input type="text" placeholder="игра" class="game_name" />
        <input type="text" placeholder="стример" class="streamer_name" />
        <button class="streamer_commit">создать</button>
      </div>
      <div class="streamer-error"></div>
    </div>
    <div class="videos"></div>
    <div class="users-container">
      <div class="admin-container">
        <h3>Администраторы</h3>
        <div class="user offline">Albert</div>
        <div class="user online">Andrey</div>
        <div class="user online">user 1</div>
        <div class="user online">user 2</div>
        <div class="user online">user 3</div>
        <div class="user online">user 4</div>
      </div>
      <div class="user-container">
        <h3>Пользователи</h3>
        <div class="user online">Andrey</div>
        <div class="user online">user 1</div>
        <div class="user online">user 2</div>
        <div class="user online">user 3</div>
        <div class="user online">user 4</div>
        <div class="user online">user 5</div>
        <div class="user online">user 6</div>
        <div class="user online">user 7</div>
        <div class="user online">user 8</div>
        <div class="user online">user 9</div>
        <div class="user online">user 10</div>
        <div class="user online">user 11</div>
        <div class="user online">user 12</div>
        <div class="user online">user 13</div>
        <div class="user online">user 14</div>
        <div class="user online">user 15</div>
        <div class="user online">user 16</div>
        <div class="user online">user 17</div>
        <div class="user online">user 18</div>
        <div class="user online">user 19</div>
        <div class="user online">user 20</div>
        <div class="user online">user 21</div>
        <div class="user online">user 22</div>
        <div class="user online">user 23</div>
        <div class="user online">user 24</div>
        <div class="user online">user 25</div>
        <div class="user online">user 26</div>
        <div class="user online">user 27</div>
        <div class="user online">user 28</div>
        <div class="user online">user 29</div>
        <div class="user online">user 30</div>
        <div class="user online">user 31</div>
        <div class="user online">user 32</div>
        <div class="user online">user 33</div>
        <div class="user online">user 34</div>
        <div class="user online">user 35</div>
        <div class="user online">user 36</div>
        <div class="user online">user 37</div>
        <div class="user online">user 38</div>
        <div class="user online">user 39</div>
        <div class="user online">user 40</div>
        <div class="user online">user 41</div>
        <div class="user online">user 42</div>
        <div class="user online">user 43</div>
        <div class="user online">user 44</div>
        <div class="user online">user 45</div>
        <div class="user online">user 46</div>
        <div class="user online">user 47</div>
        <div class="user online">user 48</div>
        <div class="user online">user 49</div>
        <div class="user online">user 50</div>
        <div class="user online">user 51</div>
        <div class="user online">user 52</div>
        <div class="user online">user 53</div>
        <div class="user online">user 54</div>
        <div class="user online">user 55</div>
        <div class="user online">user 56</div>
        <div class="user online">user 57</div>
        <div class="user online">user 58</div>
        <div class="user online">user 59</div>
        <div class="user online">user 60</div>
        <div class="user online">user 61</div>
        <div class="user online">user 62</div>
        <div class="user online">user 63</div>
        <div class="user online">user 64</div>
        <div class="user online">user 65</div>
        <div class="user online">user 66</div>
        <div class="user online">user 67</div>
        <div class="user online">user 68</div>
        <div class="user online">user 69</div>
        <div class="user online">user 70</div>
        <div class="user online">user 71</div>
        <div class="user online">user 72</div>
        <div class="user online">user 73</div>
        <div class="user online">user 74</div>
        <div class="user online">user 75</div>
      </div>
    </div>
  </body>
</html>
