<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="header">
      <h2 id="current_sreamer">streamer name</h2>
    </div>
    <div class="streamers-container">
      <div class="streamers">
      </div>
      <div class="add-streamer-container">
        <input type="text" placeholder="игра" id="game_name" />
        <input type="text" placeholder="стример" id="streamer_name" />
        <button id="streamer_commit">создать</button>
      </div>
      <div class="streamer-error"></div>
    </div>
    <div class="videos"></div>
    <div class="users-container">
      <div class="admin-container">
        <h3>Администраторы</h3>
      </div>
      <div class="user-container">
        <h3>Пользователи</h3>
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/streamers.js') }}"></script>
  </body>
</html>
