* {
  margin: 0px;
  padding: 0px;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 10% 90%;
      grid-template-rows: 10% 90%;
  -ms-grid-columns: 15% 70% 15%;
      grid-template-columns: 15% 70% 15%;
      grid-template-areas: "streamers header users"
 "streamers videos users";
}
